Serials/Generator/obj/x86/
Serials/Verifier/obj/
RSACryptoPad/obj/Debug/RSACryptoPad.csproj.FileListAbsolute.txt
*.tlog
RSACryptoPad/obj/Debug/RSACryptoPad.KeyPairGeneratorForm.resources
Serials/Generator/bin/
RSACryptoPad/obj/
RSACryptoPad/UpgradeLog.XML
RSACryptoPad/_UpgradeReport_Files/
RSACryptoPad/
Serials/Serials.zip
AssemblySigner/TestApp2/obj/
AssemblySigner/TestApp5/obj/
AssemblySigner/TestApp4/obj/
AssemblySigner/TestApp3/obj/
AssemblySigner/AssemblySigner/obj/
AssemblySigner/AssemblySigner/bin/
*.suo
*.user
_ReSharper.*
bin
obj
*.zip